name: build

on:
  pull_request:
  push:
    branches:
      - '**'
    tags-ignore:
      - 'v*'
  workflow_dispatch:

jobs:
  lint:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby
          bundler-cache: true

      - name: Lint
        run: bundle exec rake rubocop

  spec:

    runs-on: ${{ matrix.os }}

    container: ${{ matrix.container.image != 'docker.io/nixos/nix:latest' && matrix.container || null }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - ubuntu-24.04-arm
          - windows-latest
          - windows-11-arm
        container:
          -
        vm:
          -
        ruby-version:
          - '3.1'
          - '3.2'
          - '3.3'
          - '3.4'
          - '4.0'
          - jruby-9
          - jruby-10
          - truffleruby
          - truffleruby+graalvm
        exclude:
          - os: windows-latest
            ruby-version: truffleruby
          - os: windows-latest
            ruby-version: truffleruby+graalvm
          - os: windows-11-arm
            ruby-version: '3.1'
          - os: windows-11-arm
            ruby-version: '3.2'
          - os: windows-11-arm
            ruby-version: '3.3'
          - os: windows-11-arm
            ruby-version: truffleruby
          - os: windows-11-arm
            ruby-version: truffleruby+graalvm

          # TODO: Revert https://github.com/sass-contrib/sass-embedded-host-ruby/pull/352
          - os: windows-11-arm
            ruby-version: '3.4'
          - os: windows-11-arm
            ruby-version: '4.0'
          - os: windows-11-arm
            ruby-version: jruby-9
          - os: windows-11-arm
            ruby-version: jruby-10

        include:
          - os: ubuntu-latest
            container:
              image: docker.io/library/ruby:3.1-alpine
          - os: ubuntu-latest
            container:
              image: docker.io/library/ruby:3.2-alpine
          - os: ubuntu-latest
            container:
              image: docker.io/library/ruby:3.3-alpine
          - os: ubuntu-latest
            container:
              image: docker.io/library/ruby:3.4-alpine
          - os: ubuntu-latest
            container:
              image: docker.io/library/ruby:4.0-alpine
          - os: ubuntu-latest
            container:
              image: docker.io/nixos/nix:latest
          - os: ubuntu-24.04-arm
            container:
              image: docker.io/nixos/nix:latest
          - os: ubuntu-latest
            vm:
              os: freebsd
              run: |
                pkg install -y node npm protobuf ruby rubygem-bundler rubygem-rake
          - os: ubuntu-latest
            vm:
              os: openbsd
              run: |
                pkg_add node protobuf ruby%3.4 ruby-shims
                echo 3.4 | tee /etc/ruby-version

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      # TODO: remove after https://github.com/sass/dart-sass/pull/2413
      - name: Build dart-sass
        if: matrix.vm
        uses: ./.github/actions/build-dart-sass

      - name: Initialize vm
        if: matrix.vm
        timeout-minutes: 10
        uses: ./.github/actions/setup-vm
        with:
          os: ${{ matrix.vm.os }}
          run: ${{ matrix.vm.run }}

      - name: Initialize nix
        if: matrix.container.image == 'docker.io/nixos/nix:latest'
        uses: ./.github/actions/setup-nix
        with:
          image: ${{ matrix.container.image }}
          packages: ruby

      - name: Install dependencies
        if: endsWith(matrix.container.image, ':alpine') || endsWith(matrix.container.image, '-alpine')
        run: apk add build-base

      - name: Setup java
        if: matrix.ruby-version == 'jruby' || startsWith(matrix.ruby-version, 'jruby-')
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - name: Setup ruby
        if: matrix.ruby-version
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true

      - name: Bundle
        if: "!matrix.ruby-version"
        run: |
          bundle config --local path vendor/bundle
          bundle lock
          bundle install --jobs 4

      - name: Compile
        run: bundle exec rake compile
        env:
          GH_TOKEN: ${{ github.token }}

      - name: Spec
        run: bundle exec rake spec

      - name: Install
        run: rake -f -r bundler/gem_tasks install

  release:

    if: github.event.repository.fork == false && github.ref == format('refs/heads/{0}', github.event.repository.default_branch)

    needs: [lint, spec]

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ssh-key: ${{ secrets.DEPLOY_KEY }}

      - name: Setup ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby

      - name: Release
        run: |
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          git config user.name github-actions[bot]
          rake -f -r bundler/gem_tasks release gem_push=no
